/*头部布局*/

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.bg-white {
    background-color: #fff!important;
}

.navbar {
    position: relative;
    padding: .5rem 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3rem;
    padding-bottom: .3rem;
    /* margin-right: 1rem; */
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a {
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
}

element.style {
    font-family: Nunito;
    font-weight: bold;
    font-size: 1.5rem;
}


/*正文界面整体布局*/

.el-main {
    padding: 15px 15px 15px 0px;
}


/*轮播图*/

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    text-align: left;
    padding: 10px;
    margin-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
}

.item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.carousel-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    z-index: 9;
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: .7;
}


/*文章样式*/

.excerpt-one {
    position: relative;
}

.excerpt {
    border-bottom: 1px solid #eee;
    position: relative;
    overflow: hidden;
    padding: 25px;
    margin-top: 25px;
}

.excerpt h2 {
    display: inline;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    position: relative;
    top: 1px;
    line-height: 25px;
    margin-left: 10px;
}


/*鼠标悬浮字体颜色渐变*/

.excerpt h2 a {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    color: #444;
}

.excerpt h2 a:hover {
    /* color: #FF5E52; */
    color: #0d6cbf;
}

.excerpt header .label {
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.label {
    position: relative;
    display: inline-block;
    padding: 5px 7px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    /* background-color: #FF5E52; */
    background-color: #0d6cbf;
}

.label .label-arrow {
    top: 7px;
    right: -4px;
    /* border-left: 4px solid #FF5E52; */
    border-left: 4px solid #0d6cbf;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.label-arrow {
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
}

.excerpt .text-muted {
    font-size: 12px;
}

.text-muted {
    color: #999;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.excerpt .note {
    color: #777;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.excerpt-one .note {
    margin-top: 6px;
    padding-right: 15px;
    margin-right: 25.3%;
}

.excerpt p {
    margin-bottom: 0;
}

span {
    margin: 0 0 10px;
    margin-top: 10px;
}


/*文章封面*/

.excerpt-one .focus {
    float: right;
    width: 25.3%;
    margin-top: 0;
    margin-right: 0;
}

.excerpt .focus {
    position: relative;
    margin: 10px -6px 0 0;
    overflow: hidden;
}

.focus .thumbnail .thumb {
    height: 132px;
}

.thumbnail .thumb {
    max-width: 240px;
    width: 100%;
    max-height: 132px;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

img {
    border: 0;
}


/*文章预览 只显示5行  
这里注意：
在拿到后端返回的文章内容时 预览内容只需要文章内容的前几行 并不是把全部文章都渲染
也就是说后端给的内容我们需要截断后在进行渲染 截断的部分如果超出预览框就以...显示
这只是文章的列表提供了预览文章内容 想要查看文章需要点击文章标题进入文章详情页查看
*/

.excerpt .note {
    color: #777;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.excerpt-one .note {
    margin-top: 6px;
    padding-right: 15px;
}


/*阅读 评论 标签*/

.excerpt .views>span,
.excerpt .views>a {
    margin-right: 20px;
}


/*右侧侧边栏*/

.sidebar {
    background-color: #74ffb2;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}